/* Загальні скидання */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #fff;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
  }
  
  p {
    margin: 0;
  }
  
  ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  th, td {
    padding: 0;
    text-align: left;
  }

  input, textarea, select {
    margin: 0;
    font: inherit;
  }
  
  textarea {
    resize: none;
  }

  input{
    outline: none;
  }
  
  /* Стилі для документу */

  .title {
    font-size: 18px;
  }

  .title-text{
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
  }

  .input-field {
    width: 100%;
    line-height: 14px;
    /* height: 100%; */
    border: 1px solid grey;
    outline: none;
    font-size: 10px;
    text-align: center;
}

textarea.input-field {
  width: 100%;
  max-height: 100%;
  height: 100%;
  line-height: 1.2em;
  border: 1px solid grey;
  box-sizing: border-box;
  text-align: left;
  vertical-align: top;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
  resize: none;
}

.num-sumb {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 7px;
}

.container-number {
  display: flex;
  justify-content: space-between;
  padding: 1px;
  width: 100%;
}

.input-num {
  outline: none;
  border: 1px solid grey; /* Додаємо обведення інпуту */
  font-size: 10px;
  flex-grow: 1; /* Інпут займає всю доступну ширину, якщо є місце */
  margin-left: 5px;
  margin-right: 15px;
  width: 130px;
  padding-left: 2px;
}

.top-center-1, .top-center-2, .top-center-3, 
.top-center-4, .top-center-5, .top-center-6, .top-center-7 {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.top-center-4,
.top-center-6,
.top-center-7{
  flex-direction: row;
  border: 1px solid black;
  border-bottom: none;
}
.top-center-4{
  justify-content: flex-start;
}

.main-container {
  width: 794px;
  height: 1123px;
  margin: 0 auto;
  padding: 10px;
}

.header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.heder-top-name{
font-size: 9px;
font-weight: 500;
margin-bottom: 1px;
text-transform: uppercase;
}

.heder-center{
justify-content: center;}

.heder-center-name{
  font-size: 9px;
  font-weight: 400;
}

.body-container{
  border: 1px solid #000;
  width: 775px;
  height: 1123px;
  padding: 10px;
}

.top-container{
  display: flex;
  flex-direction: row;
}

.top-left-container,
.top-center-container{
/* height: 400px; */
}

.top-right-container{
width: 331px;
padding-top: 3px;
}

.top-center-container{
  padding-top: 1px;
  width: 345px;
}

.vertical-text {
  width: 31px;
  height: 280px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  border: 1px solid black;
  align-items: center;
  font-size: 9px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-bottom: none;
  border-top: none;
  border-left: none;
}

.heder-top,
.heder-center{
  display: flex;
}

.num-1,
.num-6{
  border: 1px solid black;
  width: 31px;
  height: 31px;
  font-size: 9px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: none;
}

.heder-2{
  border-top: none;
}


.top-center-1,
.top-center-2,
.top-center-3,
.top-center-5{
  padding: 2px;
  border: 1px solid black;
  border-bottom: none;
}
.top-center-1{
height: 85px;
}

.top-center-2{
  height: 78px;
  border-bottom: none;

}

.top-center-3{
  height: 58px;
}

.top-center-5{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  /* height: 30px; */
}

.top-center-7{
  border-bottom: 1px solid black;
}

.wrapper-29,
.wrapper-30{
  width: 50%;
  padding: 2px;
}


.wrapper-18{
display: flex;
justify-content: space-between;
width: 100%;
height: 15px;
padding-bottom: 2px;
padding-left: 2px;
}

.wrapper-18-2{
  margin-left: 25px;
  display: flex;
  align-items: end;
}

.wrapper-19,
.wrapper-21-1{
  border-left: 1px solid black;
}

.wrapper-21-1{
  width: 30px;
}

.wrapper-input-21{
height: 15px;
}

.input-field-1,
.input-field-2 {
  text-align:center ;
  border: none;
  font-size: 10px;
  width: 30px;
  
}

.input-with-left-border {
  display: flex;
  justify-content: flex-end;
  border-left: 1px solid black;
  width: 30px;
  line-height: 14px;
}

.wrapper-26,
.wrapper-25 {
  width: 75px;
  border-right: 1px solid black;

}

.wrapper-27{
  width: 180px;
}

.wrapper-25-1{
  display: flex;
  width: 70px;
}

.wrapper-26-1,
.wrapper-11-1{
  display: flex;
  flex-direction: row;
}

.text-6{
  font-size: 7px;
  line-height: 1;
  word-break: break-word;
  text-align: end;
}
.input-18{
  height: 15px;
}

.input-25,
.input-13,
.input-10,
.input-10-1,
.input-11,
.input-11-1{
  border: none;
}


.input-25:nth-child(1) {
  width: 30px;
  border-right: 1px solid black;
}

.wrapper-27-1{
padding: 1px;
}

.input-27{
  margin-left: 7px;
}


.top-center-text,
.second-text{
font-size: 7px;
padding: 1px;
}

.text-27{
  padding-left: 2px;
}


.border-decl{
  border-left: 1px solid black;
  border-top: 1px solid black;
  height: 10px;
  margin-left: -0.5px;
  width: 101px;

}

.top-right-1-1{
  display: flex;
  flex-direction: row;
}

.top-right-2{
  border-left: 1px solid black;
  margin-left: -1px;
}

.top-right-1-2,
.top-right-1-1-2{
  display: flex;
  flex-direction: row;
  font-size: 7px;
  border: 1px solid black;
  height: 27px;
  border-left: none;

}
.top-right-1-1-2{
  border-bottom: none;
  border-right: none;
  width: 100px;
  letter-spacing: -0.01em;

}
.top-right-1-2{
  border-right: none;
}

.wrapper-tr-3{
  display: flex;
  flex-direction: row;
}
.input-tr-3{
  width: 24px;
  border: none;
  border-right: 1px solid black;
}

.input-tr-3:not(:first-child) {
  border-right: none;
}

.container-tr-3,
.wrapper-tr-4{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid black;
  padding-left: 2px;
}
.wrapper-tr-4{
  border: none;
}

.wrapper-tr-5,
.wrapper-tr-6,
.wrapper-tr-7 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2px;
  padding-left: 2px;
}

.wrapper-tr-5{
  border-right: 1px solid black;
}

.wrapper-tr-6{
  width: 70px;
  border-right: 1px solid black;
}

.wrapper-tr-7{
  width: 180px;
}

.top-right-decl,
.top-right-org{
  text-transform: uppercase;
  font-size: 5px;
  font-weight: 500;
  letter-spacing: 0.2em;
}

.top-right-decl{
  padding: 2px;
}

.top-right-org{
  font-size: 4px;
  padding-left: 5px;
}

.border-wrap{
  display: flex;
  flex-direction: row;
  height: 20px;
  padding-left: 1.5px;
}

.border-1{
border-right: 1px solid black;
}

.border-2{
border-right: 1px solid black;
}

.border-3{
padding-left: 2px;
}

.top-right-1-1-1{
  display: flex;
  flex-direction: column;
  height: 30px;
}

.top-right-form,
.top-right-1-2-1{
  width: 50px;
}

.top-right-second{
  height: 80px;
}

.text-29,
.text-30{
padding: 0;
}

.input-decl-1{
  width: 30px;
  border: none;
}
.input-decl-2{
  width: 20px;
  border: none;

}
.input-decl-3{
  width: 40px;
  border: none;
}

.top-right-9{
  border-bottom: 1px solid black;
  padding-left: 2px;
  padding-bottom: 2px;
  height: 55px;
}

.input-9{
  margin-right: 0;
}

textarea.textarea-9{
  height: 38px;
}

.top-right-3,
.top-right-4{
  display: flex;
  border-bottom: 1px solid black;
}

.text-10,
.text-11{
  text-align: start;
}
.wrapper-10,
.wrapper-11{
  width: 61px;
  border-right: 1px solid black;
}

.container-10{
  display: flex;
}

.wrapper-13{
  width: 30px;
  margin-left: auto;
  border-left: 1px solid black;
}

.input-12{
  width: 130px;
}

.wrapper-12-1{
  margin-left: 20px;
}
.input-11-1,
.input-10-1{
  border-right: 1px solid black;
}

.wrapper-15{
  width: 111px;
  border-right: 1px solid black;

}
.wrapper-15-1{
  padding: 2px;
}